.lead {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: $font-light;
    line-height: normal;
}
.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
// SECTIONS
section {
	position:relative;
}
.section-image {
	position:absolute;
	top:0; 
	width:50%; 
	height:100%;
	background-color:$clouds;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover; 
}
.trust-image {
	background-image:url(../images/trust.jpg);
	right:50%;
}
.engage-image {
	background-image:url(../images/engage.jpg); 
	left:50%;
}
.conversation-image {	
	background-image:url(../images/conversation.jpg);
	right:50%;
}
// Background Colors
.clouds {
	background-color:$clouds;
}
.wet-asphalt {
	background-color:$wet-asphalt;
	color:white;
}
.nephritis {
	background-color:$nephritis;
	color:white;
}
.pumpkin {
	background-color:$pumpkin;
	color:white;
}
.belize-hole {
  background-color:$belize-hole;
  color:white;
}
// Hero
.section-padding {
	padding:100px 0;
}
.hero {
	position: relative;
	width:100%;
	height:100vh;
}
.hero:before {
	content: "";
	background-color:$gray-dark;
	background-image:url(../images/hero.jpg);
	background-repeat:no-repeat;
	backgound-position:center center;
	background-size:cover;
	width:100%;
	height: 100vh;
	position: absolute;
}
.hero:after {
	content: "";
	background-image:url(../images/pattern-stripe.png);
	width:100%;
	height: 100vh;
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
	opacity: .3;
}
.hero * {
	color:$inverse;
	text-shadow:0px 0px 5px #000;
}
.hero .hero-wrapper {
	position:absolute;
	z-index:2;
	width:100%;
	height:100vh;
}
.hero ul.jump-links {
	list-style-type:none;
	margin:0;
	padding:0;
}
.hero .jump-links li {
	display:inline-block;
	position: relative;
	padding-right:20px;
	margin-right:20px
}
.hero .jump-links li:last-child {
	margin:0;
}
.hero .jump-links a, .hero .jump-links li:after {
	color:$sun-flower;
}
.hero .jump-links li:after {
content: "\f0a9";
  font-family:FontAwesome;  
  position: absolute;
  right:0;
  top:0;
  font-size: 16px;
}
.hero .jump-links a:hover {
  color:white;
}
// Screen Shots
.screen-shots img {
  margin-top:50px;
  box-shadow: 0 0 10px $silver;
}
// Stat
.stat * {
  color:white;
  font-weight: 300;
}
.stat .source {
  font-style: italic;
  padding-top:15px;
}
.stat a:hover {
  color:#fff;
  text-decoration: underline;
}

// Spotlight
.spotlight {
	position: relative;
	padding-left:20px !important;
	display:block;
}
.spotlight:before {
	content: "\f0eb";
	font-family:FontAwesome;  
	position: absolute;
	left:0;
	top:1px;
	font-size: 16px;
	color:$peter-river;
}
// Features
.feature {
	padding-top:50px;
}
// Marketo 
.marketo-form {
  // used !important to get around Marketo in-line styles
  form {
    width: 100% !important;
    height:205px !important;
    overflow:hidden;
    position:relative;
    padding:0 !important;
    margin-top:20px;
    .mktoFormRow {
    	margin-bottom:10px !important;
      .mktoFormCol, .mktoFieldWrap {
        width: 100%;
        margin-bottom: 0 !important;
      }
      .mktoOffset, label {
        display: none;
      }
      .mktoGutter {
        width: 0px !important;
      }
      input {
        width: 100% !important;
        border: solid 1px $concrete !important;
        padding: 10px;
        margin-top: 0px;
        border-radius:0 !important;
        box-shadow: none !important;
        height:33px !important;
        line-height:normal;
        font-size:13px !important;
      }
      textarea {
        width: 100% !important;
        border: none !important;
        padding: 10px;
        box-shadow: none !important;

      }
      input#Title {
        width: 50% !important;
      }
      .mktoError {
        left:10px !important;
        top: 26px !important;
        .mktoErrorMsg {
          border-radius:0 !important;
          background-image:none !important;
        }
      }
    }
    .mktoButtonRow {
      position: absolute;
      right: 0px;
      width: 42%;
      bottom: 0px;
      .mktoButtonWrap {
        margin-left: 0 !important;          
        .mktoButton {
          border: none !important;
          background-image: none !important;
          box-shadow: none !important;
          width: 100% !important;
          padding: 0 !important;
          background-color: $peter-river !important;
          border-radius:0 !important;
          height:33px !important;
          color:#fff !important;
          &:hover {
            border: none !important;
            background-color: darken($belize-hole, 10%) !important;
          }
        }
      }
    }
  }
}
.demo {
  // used !important to get around Marketo in-line styles
  form {
    height:320px !important;
    .mktoFormRow {
      input#Title {
        width: 100% !important;
      }
    }
    .mktoButtonRow {
      left: 0px !important;
    }
  }
}